<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
	   http://www.springframework.org/schema/beans/spring-beans.xsd
	   http://www.springframework.org/schema/context
	   http://www.springframework.org/schema/context/spring-context.xsd
	   http://www.springframework.org/schema/aop
	   http://www.springframework.org/schema/aop/spring-aop.xsd">

    <context:annotation-config/>

    <context:property-placeholder location="classpath:server.properties"/>

    <context:component-scan base-package="com.jdz.ebcf.socketio"/>

    <bean id="socketIoConfig" class="com.corundumstudio.socketio.Configuration">
        <property name="hostname" value="${server.host}"></property>
        <property name="port" value="${server.port}"></property>
    </bean>

    <bean id="webSocketServer" class="com.corundumstudio.socketio.SocketIOServer">
        <constructor-arg ref="socketIoConfig"></constructor-arg>
    </bean>

    <!--使用注解扫描nettySocketIo-->
    <bean id="springAnnotationScanner" class="com.corundumstudio.socketio.annotation.SpringAnnotationScanner">
        <constructor-arg ref="webSocketServer"></constructor-arg>
    </bean>

</beans>